#footer {
    text-align: center;
    margin: 10px;
}

#facepic {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 15px;
}

#contactHeader, #contactForm {
    margin-top: 15px;
}
